$VeryDarkBlueTXT: #111517; // (Light Mode Text)
$White: #ffffff; // (Light Mode Elements)
$VeryLightGray: #fafafa; // (Light Mode Background)
$DarkGray: #858585; // (Light Mode Input)



$White: #ffffff; // (Dark Mode Text)
$DarkBlue: #2b3945; // (Dark Mode Elements)
$VeryDarkBlueBG: #202c37; // (Dark Mode Background)
