:root {
  --home-page-font: 14px;
  --detail-page-font: 16px;

  --light-mode-txt: #111517;
  --light-mode-el: #ffffff;
  --light-mode-bg: #fafafa;
  --light-mode-input: #858585;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $primary-font;
}

.container-fluid {
  background-color: var(--light-mode-bg);
  height: 100vh;

  header {
    nav {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  main {
    .content-wrapper {
      .back-btn {
        button {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          font-weight: 600;
          font-size: 1em;
          color: var(--light-mode-txt);
          background-color: var(--light-mode-el);

          svg {
            color: var(--light-mode-txt);
          }
        }
      }

      .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        img {
          width: 70%;
          aspect-ratio: 4/3;
          object-fit: cover;
        }

        .card-details {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;

          .left-details {
            h2 {
              font-weight: 800;
              color: var(--light-mode-txt);
            }

            p {
              font-weight: 300;
              color: var(--light-mode-txt);

              b {
                font-weight: 600;
                color: var(--light-mode-txt);
              }
            }
          }

          .right-details {
            p {
              font-weight: 300;
              color: var(--light-mode-txt);

              b {
                font-weight: 600;
                color: var(--light-mode-txt);
              }
            }
          }

          .border-details {
            display: flex;
            align-items: center;
            gap: 1em;
            flex-wrap: wrap;

            span {
              font-weight: 600;
              color: var(--light-mode-txt);
            }

            button {
              border: none;
              background-color: var(--light-mode-el);
              color: var(--light-mode-txt);
              box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
              font-weight: 300;
              border-radius: 0.2em;
            }
          }
        }
      }
    }
  }
}
